.nav {
    position: fixed;
    width: 100%;
    background-color: #fcfcfc;
    padding: 20px 10px;
    bottom: 0px;
    left: 0px;
}
.nav .nav__list {
    display: flex;
    justify-content: space-around
}